services:
  ip:
    image: ip
    env_file:
      - .env
    expose:
      - "8080"
    container_name: ip-app
    command: ["sh", "-c", "while true; do ./ip > /usr/share/nginx/html/ip.json; sleep 3; done"]
    volumes:
      - nginx-data:/usr/share/nginx/html

  nginx:
    image: nginx:1.29-alpine
    ports:
      - 8080:80
    volumes:
      - nginx-data:/usr/share/nginx/html:ro
    depends_on:
      - ip

volumes:
  nginx-data:

