apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 80;
        root /usr/share/nginx/html;
        location / {
          index ip.json;
          add_header Content-Type application/json;
        }
        location /health {
          return 200 "healthy\n";
        }
      }
    }
